:root {
  --bacground-header: #ffffff;
  ---text-color: #212121;
  --color-logo: #2196f3;
  --color-logo-header: #000000;
  --color-contacts: #757575;
  --background-color-main: #2f303a;
  ---color-title: #ffffff;
  --color-bgd-btn: #2196f3;
  --color-btn-text: #ffffff;
  ---color-text-main: #757575;
  ---color-skills-bgd: #ffffff;
  ---color-team-section-bgd: #f5f4fa;
  ---color-logo-footer: #ffffff;
  ---color-portfolio-bgd: #f5f5f5;
  ---color-portfolio-btn: #f5f4fa;
  ---color--portfolio-text-btn: #212121;
  ---color-cart-portfolio: #ffffff;
  ---color-current: #2196f3;
}
body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* header */
.header {
  background: var(--bacground-header);
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-logo);
}

.logo-header {
  color: var(--color-logo-header);
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(---text-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--color-logo);
}
.contacts-mail-header,
.contacts-tel-header {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-contacts);
}
.contacts-mail-header:hover,
.contacts-tel-header:hover,
.ontacts-mail-header:focus,
.contacts-tel-header:focus {
  color: var(--color-logo);
}
/* main-page*/
.main-page {
  background: var(--background-color-main);
}
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(---color-title);
}
.button-main {
  background: var(--color-bgd-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-btn-text);
}

.main-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(---text-color);
  text-transform: uppercase;
}
.main-content {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(---color-text-main);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.skills {
  background: var(---color-skills-bgd);
}
/* services*/
.services {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(---text-color);
}
/* team-section*/
.team-section {
  background: var(---color-team-section-bgd);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(---text-color);
}
.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(---text-color);
}

.team-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(---color-text-main);
}

.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/* footer*/
.footer {
  background: var(--background-color-main);
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-logo);
}

.logo-header {
  color: var(--color-logo-header);
}
.logo-footer {
  color: var(---color-logo-footer);
}
.contacts-mail-footer,
.contacts-tel-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address {
  font-style: normal;
}

.contacts-mail-footer:hover,
.contacts-tel-footer:hover,
.contacts-mail-footer:focus,
.contacts-tel-footer:focus,
.contacts-link-footer:hover,
.contacts-link-footer:focus {
  color: var(--color-logo);
}

.contacts-link-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(---color-logo-footer);
}
/*portfolio*/
.main-portfolio {
  background: var (---color-portfolio-bgd);
}
.button-nav-portfolio {
  background: var(---color-portfolio-btn);
  border-radius: 4px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(---color--portfolio-text-btn);
}

.button-nav-portfolio:hover,
.button-nav-portfolio:focus,
.button-nav-portfolio-all {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.works {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(---text-color);
}
.descripchion {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(---color-text-main);
}
.cart-list {
  background: var(---color-cart-portfolio);
  border: 1px solid #eeeeee;
}
.current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(---color-current);
}
